[mgr]
ratio          = [1, 3, 4]
sort_by        = "alphabetical"
sort_sensitive = false
sort_reverse   = false
sort_dir_first = true
sort_translit  = false
mouse_events   = []
linemode       = "size"
show_hidden    = false
show_symlink   = true
scrolloff      = 5
title_format   = "Yazi: {cwd}"

[tasks]
image_bound      = [ 65535, 65535 ]

[preview]
tab_size        = 2
max_width       = 1000
max_height      = 1000
image_filter    = "lanczos3"
image_quality   = 75
sixel_fraction  = 15
ueberzug_scale  = 1
ueberzug_offset = [0, 0, 0, 0]

[opener]
play = [
{ run = 'mpv "$@"', orphan = true, for = "unix" },
]
edit = [
{ run = 'nvim "$@"', block = true, for = "unix" },
]
doc = [
{ run = 'zathura "$@"', block = true, for = "unix" },
]

[open]
rules = [
{ mime = "text/*", use = "edit" },
{ mime = "application/pdf", use = "edit" },
{ mime = "*", use = "edit" }
]

